html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 1.04vw;
  font-weight: 400;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.inner {
  margin: 0 auto;
  width: calc(100% - 8rem);
}

.highlight {
  color: #ec008c;
  font-weight: 700;
}

main {
  width: 100%;
  aspect-ratio: 96/449;
  background: url("../images/main-bg.jpg") no-repeat center top/cover;
}

.section-1 {
  padding-top: 40rem;
  width: 100%;
}

.section-tit {
  margin: 4rem 0;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #4e49f1;
}

.content {
  position: relative;
  padding: 3rem 3rem 4.2rem;
}

.txt {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
}

.badge {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  position: absolute;
  top: 32rem;
  right: 6.5rem;
  text-align: center;
  color: #ffff6b;
}

.arrow-txt {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  position: absolute;
  top: 47.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 0 3rem;
  margin-top: 2rem;
  width: 100%;
}
.card-box .card-list {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  margin-top: 27rem;
  width: 50%;
  height: 8rem;
  text-align: center;
  color: #fff;
}
.card-box .card-tit {
  padding: 2.6rem 0;
}

.item-count {
  margin: 5rem 0 0 17rem;
  border: 1px solid red;
  width: 21.2rem;
  text-align: center;
}
.item-count .count-tit {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
}
.notice-con {
  margin-top: 3rem;
  padding: 4rem 3rem;
}
.notice-con .notice-txt {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  color: #fff;
}/*# sourceMappingURL=main.css.map */