@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';

// 960px 이상
html,
body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 1.042vw;
  font-weight: 400;
}

@media (max-width: 960px) {
  html,
  body {
    font-size: 1.05vw;
  }
}


// common start

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.inner {
  margin: 0 auto;
  width: calc(100% - 8rem);
}

.highlight {
  color: $color-highlight;
  font-weight: 700;
}

// common end

// main start

main {
  width: 100%;
  aspect-ratio: 96 / 449;
  background: url('../images/main-bg.jpg') no-repeat center top / cover;
  
}

.section-1 {
  padding-top: 40rem;
  width: 100%;
}

.section-tit {
  margin: 4rem 0;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #4e49f1;
}

.content {
  position: relative;
  padding: 3rem 3rem 4.2rem;
}

.txt {
  @include text-base();
  text-align: center;
  color: $color-black;
}

.badge {
  @include text-base();
  position: absolute;
  top: 32rem;
  right: 6.5rem;
  text-align: center;
  color: $color-yellow;
} 

.arrow-txt {
  @include text-base();
  position: absolute;
  top: 46.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $color-white;
} 

.card-box {
  display: flex;
  gap: 4rem;
  padding: 0 3rem;
  margin-top: 2rem;
  width: 100%;
  .card-list {
    @include text-base();
    margin-top: 26.5rem;
    width: 50%;
    height: 8rem;
    text-align: center;
    color: $color-white;
    border: 1px solid red;
  }
  
  .card-tit {
    padding: 2.6rem 0;
  }
}

// section-2 start
.item-count {
  padding: 2rem 0;
  margin: 3rem 0 0 17.5rem;
  width: 21.2rem;
  text-align: center;
  .count-tit {
    @include text-base();
    text-align: center;
  }
  .count-num {
    margin-top: 1.6rem;
    font-size: 3.8rem;
    color: $color-yellow;
  }
}

.mission-box {
  padding: 0 3rem;
  margin-top: 9.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  .mission-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.5rem;

    &.active {
      .icon-box {
        // background: url("../images/icon-stamp-en.png") no-repeat center center / 8.3rem;
      }
    }

    .icon-box {
      width: 10.5rem;
      height: 100%;
    }

    .info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% - 10.5rem);
      height: 100%;
    }

    .mission-txt {
      @include text-base();
      color: $color-white;
    }
  }
  .mission-num {
    @include text-base();
    color: $color-yellow;
  }
  .num {
  }
  .total-num {
  }
}
// section-2 end

// section-3 start
.shadow {
  text-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.55);
}
// section-3 end

// notice-con start

.notice-con {
  margin-top: 3rem;
  padding: 4rem 3rem;
  .notice-txt {
    @include text-base();
    color: $color-white;
  }
}

// main end