@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';

// 960px 이상
html,
body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 1.04vw;
}

// common start

.inner {
  margin: 0 auto;
  width: calc(100% - 8rem);
}

.section-tit {
  margin: 4rem 0;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  color: #4e49f1;
}

// common end

// main start

main {
  width: 100%;
  aspect-ratio: 96 / 449;
  background: url('../images/main-bg.jpg') no-repeat center top / cover;
  
}

.section-1 {
  padding-top: 40rem;
  width: 100%;
}

// main end